{% macro socials(mixClass, socialsData) %}
<section class="{{ mixClass }} socials">
	<div class="socials__text-holder">
		<h2 class="socials__title">Социальные сети и сообщество</h2>
		<p class="socials__text">Присоединяйтесь</p>
	</div>
	<ul class="socials__list">
		{% for social in socialsData %}
			<li class="socials__item">
				<a href="{{ social.link }}" class="socials__link" rel="noopener nofollow" target="_blank">
					<svg class="socials__icon" aria-hidden="true" focusable="false" width="{{ social.width }}" height="{{ social.height }}">
						<use xlink:href="./icons/sprite.svg#{{ social.id }}"></use>
					</svg>
					<span class="sr-only">{{ social.name }}</span>
				</a>
			</li>
		{% endfor %}
	</ul>
</section>
{% endmacro %}
